<div>
  <h1>My tasks</h1>
  <ul>
    <% @tasks.each do |task|%>
      <li><%= task.completed ? '<i class="fa-regular fa-square-check"></i>'.html_safe : '<i class="fa-regular fa-square"></i>'.html_safe %>
      <%= link_to "#{task.title}", task_path(task[:id]) %></li>
      <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, delete_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{task.title}?"} %>
    <% end %>
  </ul>
  <%= link_to new_path do %>
    <p><i class="fa-solid fa-plus"></i> Add a new task</p>
  <% end %>
</div>
